{
    "parser": "babel-eslint",
    "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
    "globals": {
        "sinon": true,
        "expect": true,
        "mount": true
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "mocha": true
    },
    "plugins": [
        "react",
        "import",
        "jsx-a11y"
    ],
    "settings": {
        "import/resolver": "webpack"
    },
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/prefer-default-export": "off",
        "react/forbid-prop-types": [2, { "forbid": ["any", "array"]}]
    }
}