.main-app {
    width: 100%;
    max-width: 100rem;
    margin: auto;
    display: flex;
    justify-content: center;

    div.column-div {
        flex-basis: 64rem;
        flex-shrink: 1;

        div.heading {
            font-size: 4vw;
            text-align: center;
        }
    }

    div.padding-div {
        flex-basis: 5rem;
        flex-shrink: 1;
    }
}

.property-card-wrapper {
    position: relative;
    font-size: 2vw;

    button {
        height: 6vw;
        width: 90%;
        bottom: 25%;
        font-size: 2em;

        position: absolute;
        margin: auto;
        left: 0;
        right: 0;

        display: none;
        padding: 0 0.5rem;
    }

    &:hover {
        button {
            display: block;
        }
    }
}