@mixin absoluteCenter() {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}

.main-app {
  display: flex;
  max-width: 100rem;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.main-app__column-view {
  display: flex;
  flex-basis: 64rem;
  flex-shrink: 1;
  flex-direction: column;
  padding: 10px;
}

.main-app__padding-div {
  flex-basis: 5rem;
  flex-shrink: 1;
}

.main-app__column-view-heading {
  font-size: 3vw;
  text-align: center;
  white-space: nowrap;
}

.main-app__column-view-list-wrapper {
  border: 0.2vw double grey;
  flex-grow: 1;
  padding: 2vw;
}

.main-app__column-view-list-wrapper .property-card {
  font-size: 2vw;
  position: relative;

  &:hover {
    button {
      display: block;
      opacity: 0.6;
    }
  }
}

.main-app__column-view-list-wrapper .property-card button {
  @include absoluteCenter();

  background-color: #D9EBD2;
  border: 0.25vw solid #1F6505;
  border-radius: 2rem;
  bottom: 20%;
  color: #1F6505;
  display: none;
  font-size: 1em;
  height: 4vw;
  opacity: 0;
  padding: 0 0.5rem;
  transition: all 100ms;
  width: 80%;

  &:hover {
      cursor: pointer;
      opacity: 1;
  }

  &[disabled] {
      border-width: 0.1vw;
      bottom: 3%;
      display: block;
      height: 3vw;
      opacity: 0.9;
      width: 30%;
  }

  &.remove {
      background-color: #F4CCCD;
      border-color: #FF0000;
      color: #FF0000;
  }
}

.fade-enter.fade-enter-active.property-card {
  transition: opacity 200ms;
}

.fade-exit.property-card {
  max-height: 47rem;
}

.fade-exit.fade-exit-active.property-card {
  transition: all 200ms;
  margin: 0;
  max-height: 0;
}
