@mixin absoluteCenter() {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.main-app {
    width: 100%;
    max-width: 100rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

.main-app__column-view {
    padding: 10px;
    flex-basis: 64rem;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

.main-app__padding-div {
    flex-basis: 5rem;
    flex-shrink: 1;
}

.main-app__column-view-heading {
    font-size: 3vw;
    text-align: center;
    white-space: nowrap;
}

.main-app__column-view-list-wrapper {
    border: 0.2vw double grey;
    padding: 2vw;
    flex-grow: 1;
}

.main-app__column-view-list-wrapper .property-card {
    position: relative;
    font-size: 2vw;

    &:hover {
        button {
            opacity: 0.6;
            display: block;
        }
    }
}

.main-app__column-view-list-wrapper .property-card button {
    @include absoluteCenter();

    height: 4vw;
    width: 80%;
    bottom: 20%;
    font-size: 1em;
    background-color: #D9EBD2;
    border: 0.25vw solid #1F6505;
    color: #1F6505;
    border-radius: 2rem;
    opacity: 0;
    display: none;
    transition: all 100ms;
    padding: 0 0.5rem;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    &[disabled] {
        bottom: 3%;
        width: 30%;
        opacity: 0.9;
        border-width: 0.1vw;
        height: 3vw;
        display: block;
    }

    &.remove {
        background-color: #F4CCCD;
        border-color: #FF0000;
        color: #FF0000;
    }
}

.fade-enter.fade-enter-active.property-card {
    transition: opacity 200ms;
}

.fade-exit.property-card {
   max-height: 47rem;
}

.fade-exit.fade-exit-active.property-card {
    max-height: 0;
    margin: 0;

    transition: all 200ms;
}